services:
  api:
    build:
      context: .
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./src:/app/src
    command: uvicorn --app-dir src app.main:app --host 0.0.0.0 --port 8000 --reload


